<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Auth</title>
</head>

<body>
    <div style="text-align:center;">
        <h1>Google Authentication - Booksmandala</h1>
        <p>Click below to authenticate using Google:</p>
        <a href="/auth/google">Login with Google</a>
    </div>
</body>

</html>